<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(function(){
            window.setInterval(function(){
                loadNewDash()
            }, 600000)
        
            function loadNewDash(){
                $.ajax({
                    url:"/update_dashboard", 
                    type: "POST",
                    dataType: "json",
                    success: function(data){
                        $(dash_refresh).replaceWith(data)
                    }  
                });
            }
        }); 
    </script>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Trading Dashboard</title>
</head>

<body>
    <table cellspacing='0'>
        <thead>
            <tr>
                <th>Assets</th>
                <th>Max Yield</th>
                <th>Min Cost</th>
                <th>Spread</th>
            </tr>
        </thead>
        <tbody id="dash_refresh">
        {% for asset in assets %}
            <tr>
                <td class="asset_format" rowspan="2">{{ asset }}</td>
                <td>{{ data[asset]["Max Yield"][0] }}</td>
                <td>{{ data[asset]["Min Cost"][0] }}</td>
                {% if data[asset]["Color"][0] == "G" %}
                    <td style="color: Green">{{ data[asset]["Spread"][0] }}</td>
                {% elif data[asset]["Color"][0] == "R" %}
                    <td style="color: Red">{{ data[asset]["Spread"][0] }}</td>
                {% else %}
                <td>{{ data[asset]["Spread"][0] }}</td>
                {% endif %}
            </tr>
            <tr class="exchange_tvl_spec">
                <td class="bottom"><a href={{ urls[data[asset]["Max Yield Exchange"][0]] }}>{{ data[asset]["Max Yield Exchange"][0] }}</a> {{ data[asset]["Max Yield TVL"][0] }}</td>
                <td class="bottom"><a href={{ urls[data[asset]["Min Cost Exchange"][0]] }}>{{ data[asset]["Min Cost Exchange"][0] }}</a> {{ data[asset]["Min Cost TVL"][0] }}</td>
                <td class="bottom"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>