<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(function(){
            window.setInterval(function(){
                loadNewDash()
            }, 100000)
        
            function loadNewDash(){
                $.ajax({
                    url:"/update_dashboard", 
                    type: "POST",
                    dataType: "json",
                    success: function(data){
                        $(dash_refresh).replaceWith(data)
                    }  
                });
            }
        }); 
    </script>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Yield Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <table cellspacing='0'>
        <thead>
            <tr>
                <th>Assets</th>
                <th>Max Yield</th>
                <th>Min Cost</th>
            </tr>
        </thead>
        <tbody id="dash_refresh">
        {% for asset in assets %}
            <tr>
                <td class="asset_format" rowspan="2">{{asset}}</td>
                <td>{{data[asset]["Max Yield"][0]}}</td>
                <td>{{data[asset]["Min Cost"][0]}}</td>
            </tr>
            <tr class="exchange_spec">
                <td class="bottom"><a href={{urls[data[asset]["Max Yield Exchange"][0]]}}>{{data[asset]["Max Yield Exchange"][0]}}</a></td>
                <td class="bottom"><a href={{urls[data[asset]["Min Cost Exchange"][0]]}}>{{data[asset]["Min Cost Exchange"][0]}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>