<tbody>
{% for asset in assets %}
    <tr>
        <td class="asset_format" rowspan="2">{{asset}}</td>
        <td>{{data[asset]["Max Yield"][0]}}</td>
        <td>{{data[asset]["Min Cost"][0]}}</td>
    </tr>
    <tr class="exchange_spec">
        <td class="bottom"><a href={{urls[data[asset]["Max Yield Exchange"][0]]}}>{{data[asset]["Max Yield Exchange"][0]}}</a></td>
        <td class="bottom"><a href={{urls[data[asset]["Min Cost Exchange"][0]]}}>{{data[asset]["Min Cost Exchange"][0]}}</a></td>
    </tr>
{% endfor %}
</tbody>